<%- include('./engine/header'); %>

        <!-- Page Content-->
        <div class="container px-lg-5">
                <a href="/add/barang/sales" class="btn btn-primary">Tambah Barang</a>
        </div>

        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-12">
                        <table id="example">
                            <thead>
                                <tr>
                                    <th>Nama Barang</th>
                                    <th>Quantity</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(!data_barang == 0){ %>
                                    <% data_barang.forEach(function(data) { %>
                                    <tr>
                                        <td><%= data.name %></td>
                                        <td><%= data.qty %></td>
                                        <td><a href="/jual/barang/<%= data.itemid %>" class="btn btn-primary">Jual</a></td>
                                    </tr>
                                    <% }); %>
                                <% } else{ %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>
        <%- include('./engine/footer'); %>